.git
.github
.vscode
venv
.venv
__pycache__
**/__pycache__
*.py[cod]
*.log
*.zip
*.bak
*.backup
*.before*
-Context
data
database/*.db*
recordings/*
livebuffer/*
thumbnails/*
guide/*
logs/*
app/static/program_artwork/*
