<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}SignalDVR{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% block head %}{% endblock %}
</head>

<body>

    <header class="header">

        <div class="brand">
            <a href="/">
                <img class="brand-logo" src="{{ url_for('static', filename='logo.png') }}" alt="SignalDVR">
            </a>
        </div>


        <nav class="nav">

            <a href="/">Home</a>

            <a href="/timeshift">Live TV</a>

            <a href="/guide">Guide</a>

            <a href="/grid">Grid</a>

            <a href="/scheduled">Scheduled</a>

            <a href="/series">Series</a>

            <a href="/recordings">Recordings</a>

            <a href="/search">Search</a>

            <a href="/tuners">Tuners</a>

            <a href="/health">Health</a>

            <a href="/history">History</a>

        </nav>

    </header>

    <main class="content">

        {% block content %}
        {% endblock %}

    </main>

    <footer class="footer">

        SignalDVR • Foundation Build

    </footer>

</body>

</html>